{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit Quiz{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="input-group">
            <label>Title:</label>
            <input type="text" name="title" value="{{ quiz['title'] }}" required></input>
        </div>
        <div class="input-group">
            <label>Description:</label>
            <textarea type="text" name="description" rows="3">{{ quiz['description'] }}</textarea>
        </div>
        <button class="menu-button">Save</button>
    </form>
{% endblock %}